
body{
    background: linear-gradient(#e66465, #9198e5);
    }

.userCard{
    color: navajowhite;
    -webkit-box-shadow: 6px 6px 2px 1px rgba(0,0,0,0.87);
    box-shadow: 6px 6px 2px 1px rgba(0,0,0,0.87);
    width: 250px;
    height: 650px;
    text-align: center;
    margin: auto;
    transition: 0.3s;
    background-image: url("https://p0.pikist.com/photos/489/459/stars-astronomy-astrology-night-universe-sky-dark-cosmos-starry.jpg");
}
.headerpicture{
    background-image: url("https://wallpaperaccess.com/full/1107092.jpg");
    height:150px;
    width: 250px;
    overflow: hidden;
    /*margin-top: -70px;*/
    /*margin: 0px;*/
    margin-bottom: -70px;
}
.userName{
    font-weight: bold;
}
.userImageContainer img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.userInfo{
    color: darkgray;
}
.tableselector{
    text-align: left;
}
.tableselector .greying{
    color: dimgrey;
}
.golittlebitleft
{
    border: 2px;
    padding: 10px;
}

.imagelogo img{
    max-height: 120px;
    max-width: fit-content;
}